# Problem Statement 
Predicting Survival in the Titanic Data Set 
We will be using a decision tree to make predictions about the Titanic data  set from Kaggle. This data set provides information on the Titanic  passengers and can be used to predict whether a passenger survived or  not.

In [61]:
#Loading Data and modules 

import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import sklearn 
from pandas import Series, DataFrame 
from pylab import rcParams 
from sklearn import preprocessing 
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.metrics import classification_report , confusion_matrix,consensus_score
from sklearn.tree import DecisionTreeClassifier

In [62]:
url= r"D:\Machine Learning Sentex\datasets\Titanic dataset\titanic.csv"
titanic = pd.read_csv(url) 
#titanic.columns = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked'] 

#You use only 

# Pclass, Sex, Age, SibSp (Siblings aboard), Parch  (Parents/children aboard), 
# and Fare to predict whether a passenger  survived.

In [63]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [64]:
titanic = titanic[['pclass','sex','age','sibsp','parch','fare','survived']]

In [65]:
titanic.head()

   pclass     sex      age  sibsp  parch      fare  survived
0     1.0  female  29.0000    0.0    0.0  211.3375       1.0
1     1.0    male   0.9167    1.0    2.0  151.5500       1.0
2     1.0  female   2.0000    1.0    2.0  151.5500       0.0
3     1.0    male  30.0000    1.0    2.0  151.5500       0.0
4     1.0  female  25.0000    1.0    2.0  151.5500       0.0

In [66]:
y = titanic['survived']

In [67]:
titanic.drop('survived', axis = 1,inplace = True)

In [69]:
X = titanic

In [70]:
X.isnull().sum()

pclass      1
sex         1
age       264
sibsp       1
parch       1
fare        2
dtype: int64

In [71]:
X.fillna(method = 'ffill', inplace = True)

In [72]:
X.isnull().sum()

pclass    0
sex       0
age       0
sibsp     0
parch     0
fare      0
dtype: int64

In [75]:
y.isnull().sum()

0

In [76]:
titanic['sex'].replace(to_replace=['male', 'female'], value=[1, 0], inplace=True)

In [77]:
titanic['sex'].astype(int)

0       0
1       1
2       0
3       1
4       0
       ..
1305    0
1306    1
1307    1
1308    1
1309    1
Name: sex, Length: 1310, dtype: int32

In [78]:
titanic.head()

   pclass  sex      age  sibsp  parch      fare
0     1.0    0  29.0000    0.0    0.0  211.3375
1     1.0    1   0.9167    1.0    2.0  151.5500
2     1.0    0   2.0000    1.0    2.0  151.5500
3     1.0    1  30.0000    1.0    2.0  151.5500
4     1.0    0  25.0000    1.0    2.0  151.5500

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 1)

In [80]:
dtc = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=4, min_samples_leaf=5)

dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=100, splitter='best')

In [83]:
print("Variance Score : {:.2f}".format(dtc.score(X_test,y_test)))

Variance Score : 0.80

In [88]:
print("Prediction \n" + '-'*25 +" \n{}".format(dtc.predict(X_test)))

Prediction
-------------------------
[0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1.
 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1.
 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0.]