# 2. Problem Statement 

I decided to treat this as a classification problem by creating a new binary  variable affair (did the woman have at least one affair?) and trying to  predict the classification for each woman. 

Dataset 

The dataset I chose is the affairs dataset that comes with Statsmodels. It  was derived from a survey of women in 1974 by Redbook magazine, in  which married women were asked about their participation in extramarital  affairs. More information about the study is available in a 1978 paper from  the Journal of Political Economy.

# Description of Variables 

The dataset contains 6366 observations of 9 variables: 


rate_marriage: woman's rating of her marriage (1 = very poor, 5 =  very good) 

age: woman's age 

yrs_married: number of years married 

children: number of children 

religious: woman's rating of how religious she is (1 = not religious, 4 =  strongly religious) 

educ: level of education (9 = grade school, 12 = high school, 14 =  some college, 16 = college 

graduate, 17 = some graduate school, 20  = advanced degree)

occupation: woman's occupation (
1 = student, 
2 = farming/semi skilled/unskilled, 
3 = "white collar", 
4 = teacher/nurse/writer/technician/skilled, 
5 = managerial/business, 
6 =  professional with advanced degree) 

occupation_husb: husband's occupation (same coding as above) 

affairs: time spent in extra-marital affairs

In [ ]:
# Code to loading data and modules:

In [40]:
import numpy as np 
import pandas as pd 
import statsmodels.api as sm 
import matplotlib.pyplot as plt 
from patsy import dmatrices 
from sklearn.linear_model  import LogisticRegression 
from  sklearn.model_selection  import train_test_split
from sklearn.metrics  import accuracy_score

In [13]:
dta =  sm.datasets.fair.load_pandas().data

#add "affair" column: 1 represents having affairs, 0  represents not 

dta['affair'] = (dta.affairs > 0).astype(int) 

y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children +  religious + educ +  C(occupation) + C(occupation_husb)', dta, return_type="dataframe") 

X = X.rename(columns =  
{'C(occupation)[T.2.0]':'occ_2', 
'C(occupation)[T.3.0]':'occ_3', 
'C(occupation)[T.4.0]':'occ_4', 
'C(occupation)[T.5.0]':'occ_5', 
'C(occupation)[T.6.0]':'occ_6', 
'C(occupation_husb)[T.2.0]':'occ_husb_2', 
'C(occupation_husb)[T.3.0]':'occ_husb_3', 
'C(occupation_husb)[T.4.0]':'occ_husb_4', 
'C(occupation_husb)[T.5.0]':'occ_husb_5', 
'C(occupation_husb)[T.6.0]':'occ_husb_6'}) 

y = np.ravel(y)

In [14]:
X

,Intercept,occ_2,occ_3,occ_4,occ_5,occ_6,occ_husb_2,occ_husb_3,occ_husb_4,occ_husb_5,occ_husb_6,rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6361,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,32.0,13.0,2.0,3.0,17.0
6362,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,32.0,13.0,1.0,1.0,16.0
6363,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,22.0,2.5,0.0,2.0,14.0
6364,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,32.0,6.0,1.0,3.0,14.0
6365,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,22.0,2.5,0.0,2.0,16.0

In [15]:
y

array([1., 1., 1., ..., 0., 0., 0.])

In [22]:
print(X.shape)
print(y.shape)
print(X.columns[1])

(6366, 17)
(6366,)
occ_2

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.4, random_state = 2)

In [32]:
log_reg = LogisticRegression()

In [33]:
log_reg.fit(X_train, y_train)

C:\Users\pRoJyot\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
print("Variance Score : {:.2f}".format(log_reg.score(X_test, y_test)))

Variance Score : 0.72

In [38]:
y_pred = log_reg.predict(X_test)

In [42]:
print("Accuracy Score : {}".format(accuracy_score(y_pred, y_test)))

Accuracy Score : 0.7220259128386337